Advanced SSL Health Monitoring
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        336
      ],
      "id": "b8ba8f0a-aa6b-49c7-a79a-6ac024eb4734",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KEjUo5kV6mC38RF6",
          "mode": "list",
          "cachedResultName": "domain-client-list",
          "cachedResultUrl": "/projects/TEtZuh9E7Muk0QeE/datatables/KEjUo5kV6mC38RF6"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -160,
        336
      ],
      "id": "3edb4c4c-431b-426c-982d-b3aaa9b9f7bd",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "content": "## 🕒 Daily Trigger\nMenjalankan alur kerja setiap hari pukul 10:00 pagi.\n\nSesuaikan waktu atau frekuensi sesuai kebutuhan menggunakan pengaturan cron atau interval.",
        "height": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        144
      ],
      "id": "8e6307c3-8eb8-44bb-a082-020efed653d7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🌐 Fetch URLs\nMembaca URL situs web dari Data Table.\n\nPastikan lembar kerja memiliki kolom bernama `domain` yang berisi domain yang ingin Anda pantau.",
        "height": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        144
      ],
      "id": "f79e4047-b56d-4cdb-bbed-e4fed2a47450",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🔍 Check SSL\nMengakses `ssl-checker.io` (API gratis) untuk data sertifikat SSL setiap domain.\n\nMengembalikan informasi valid_from, valid_till, days_left, dan host.",
        "height": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -64
      ],
      "id": "64ff6522-1a9d-44a6-95d6-233160ba962e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 🔍 Check SSL health score\nGunakan sysadmin-toolkit/scripts/ssl/ssl-health-assessment.js\n\nMengembalikan nilai keseluruhan SSL, kerentanan, dan tindakan yang perlu diambil.",
        "height": 320,
        "width": 520
      },
      "id": "0bccbab8-7aa4-4f6f-b963-11ad2cfda1aa",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "=/home/jackalope/.nvm/versions/node/v24.12.0/bin/node /home/jackalope/n8n-utils/sysadmin-toolkit/scripts/ssl/ssl-health-assessment.js {{ $json.domain }} --json"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        416,
        528
      ],
      "id": "c1001215-c4d2-46a2-9a1e-0ef248294f11",
      "name": "Execute a command",
      "retryOnFail": false,
      "credentials": {
        "sshPassword": {
          "id": "ReI5AnqEAacsfSHO",
          "name": "SSH home server"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Parse SSL Scanner Output\n// This code processes the SSH node output and formats it for Discord notifications\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Extract the stdout from SSH response\n    const sshOutput = item.json;\n    \n    // Check if SSH command was successful\n    if (sshOutput.code !== 0) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: sshOutput.stderr || 'SSH command failed',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Parse the JSON output from stdout\n    let sslData;\n    try {\n      sslData = JSON.parse(sshOutput.stdout);\n    } catch (parseError) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: 'Failed to parse SSL scanner output',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Extract key information for Discord notification\n    const parsedResult = {\n      // Basic info\n      hostname: sslData.hostname,\n      port: sslData.port || 443,\n      scanTime: sslData.scanTime,\n      scanDuration: sslData.scanDuration,\n      \n      // Overall status\n      overallGrade: sslData.overallGrade,\n      connectionStatus: sslData.connectionStatus || 'unknown',\n      success: sslData.success || false,\n      \n      // Certificate info\n      certificate: {\n        subject: sslData.certificate?.subject || 'unknown',\n        issuer: sslData.certificate?.issuer || 'unknown',\n        validUntil: sslData.certificate?.validUntil,\n        daysUntilExpiry: sslData.certificate?.daysUntilExpiry,\n        isValid: sslData.certificate?.isValid || false,\n        issues: sslData.certificate?.issues || [],\n        hostnameMatch: sslData.certificate?.hostnameMatch || false\n      },\n      \n      // Protocol support\n      protocols: {\n        tls13: sslData.protocols?.tls13 || false,\n        tls12: sslData.protocols?.tls12 || false,\n        tls11: sslData.protocols?.tls11 || false,\n        tls10: sslData.protocols?.tls10 || false,\n        ssl3: sslData.protocols?.ssl3 || false\n      },\n      \n      // Security info\n      vulnerabilities: {\n        hasVulnerabilities: sslData.vulnerabilities?.hasVulnerabilities || false,\n        poodle: sslData.vulnerabilities?.poodle || false,\n        freak: sslData.vulnerabilities?.freak || false,\n        details: sslData.vulnerabilities || {}\n      },\n      \n      // Grades breakdown\n      grades: sslData.grades || {},\n      \n      // Recommendations\n      recommendations: sslData.recommendations || [],\n      \n      // Error handling\n      error: sslData.error,\n      \n      // Alert logic\n      alert: false,\n      alertLevel: 'info',\n      alertReasons: []\n    };\n    \n    // Determine if this needs an alert\n    const alertReasons = [];\n    let alertLevel = 'info';\n    \n    // Critical alerts\n    if (sslData.error) {\n      alertReasons.push(`Scan failed: ${sslData.error}`);\n      alertLevel = 'critical';\n    }\n    \n    if (!parsedResult.certificate.isValid) {\n      alertReasons.push('Certificate is invalid');\n      alertLevel = 'critical';\n    }\n    \n    if (parsedResult.certificate.daysUntilExpiry <= 0) {\n      alertReasons.push('Certificate has expired');\n      alertLevel = 'critical';\n    }\n    \n    // High priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 7 && parsedResult.certificate.daysUntilExpiry > 0) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (parsedResult.vulnerabilities.hasVulnerabilities) {\n      alertReasons.push('Security vulnerabilities detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (!parsedResult.certificate.hostnameMatch) {\n      alertReasons.push('Hostname mismatch detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    // Medium priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 30 && parsedResult.certificate.daysUntilExpiry > 7) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (['C', 'D', 'F'].includes(parsedResult.overallGrade)) {\n      alertReasons.push(`Poor SSL grade: ${parsedResult.overallGrade}`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (parsedResult.protocols.ssl3 || parsedResult.protocols.tls10) {\n      alertReasons.push('Deprecated protocols enabled');\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    // Low priority alerts\n    if (parsedResult.recommendations && parsedResult.recommendations.length > 0) {\n      alertReasons.push(`${parsedResult.recommendations.length} recommendations available`);\n      if (alertLevel === 'info') alertLevel = 'low';\n    }\n    \n    // Set alert status\n    parsedResult.alert = alertReasons.length > 0;\n    parsedResult.alertLevel = alertLevel;\n    parsedResult.alertReasons = alertReasons;\n    \n    // Add Discord formatting helpers\n    parsedResult.discord = {\n      color: getDiscordColor(alertLevel, parsedResult.overallGrade),\n      title: `SSL Health Check: ${parsedResult.hostname}`,\n      description: getDiscordDescription(parsedResult),\n      fields: getDiscordFields(parsedResult),\n      timestamp: new Date().toISOString(),\n      \n      // Pre-formatted content for easy Discord input\n      content: alertLevel === 'critical' ? '@here 🚨 SSL Health Monitor Alert' : '🔐 SSL Health Monitor Alert',\n      \n      // Simple descriptions without complex logic\n      simpleDescription: parsedResult.alert \n        ? `⚠️ SSL issues detected for ${parsedResult.hostname}`\n        : `✅ SSL looks healthy for ${parsedResult.hostname}`,\n        \n      // Detailed info as simple strings\n      certificateInfo: `Grade: ${parsedResult.overallGrade} | Expires in ${parsedResult.certificate.daysUntilExpiry} days`,\n      \n      // Alert details as simple string\n      alertSummary: parsedResult.alert \n        ? `Issues: ${parsedResult.alertReasons.join(', ')}`\n        : `Certificate expires ${parsedResult.certificate.validUntil}`,\n        \n      // Complete formatted description\n      fullDescription: getFullDiscordDescription(parsedResult)\n    };\n    \n    results.push({ json: parsedResult });\n    \n  } catch (error) {\n    // Handle any unexpected errors\n    results.push({\n      json: {\n        hostname: 'unknown',\n        status: 'error',\n        error: `Processing error: ${error.message}`,\n        alert: true,\n        alertLevel: 'critical'\n      }\n    });\n  }\n}\n\n// Helper functions for Discord formatting\nfunction getDiscordColor(alertLevel, grade) {\n  // Color mapping for Discord embeds\n  const colors = {\n    critical: 15158332, // Red\n    high: 15105570,     // Orange\n    medium: 15844367,   // Yellow\n    low: 5763719,       // Blue\n    info: 5763719       // Blue\n  };\n  \n  // Grade-based colors for non-alerts\n  const gradeColors = {\n    'A+': 5763719,  // Green\n    'A': 3066993,   // Green\n    'B': 15844367,  // Yellow\n    'C': 15105570,  // Orange\n    'D': 15158332,  // Red\n    'F': 10038562   // Dark Red\n  };\n  \n  if (alertLevel !== 'info') {\n    return colors[alertLevel] || colors.info;\n  }\n  \n  return gradeColors[grade] || colors.info;\n}\n\nfunction getFullDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    let description = `⚠️ SSL issues detected for ${result.hostname}\\n`;\n    description += `Grade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days\\n\\n`;\n    description += `Issues found:\\n`;\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good for ${result.hostname}\\nGrade: ${result.overallGrade} | Certificate expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    // Create simple alert description\n    let description = \"⚠️ SSL issues detected:\\n\";\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good\\nGrade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordFields(result) {\n  const fields = [];\n  \n  // Certificate info\n  fields.push({\n    name: \"📜 Certificate\",\n    value: [\n      `**Subject:** ${result.certificate.subject}`,\n      `**Issuer:** ${result.certificate.issuer}`,\n      `**Expires:** ${new Date(result.certificate.validUntil).toLocaleDateString()}`,\n      `**Days Left:** ${result.certificate.daysUntilExpiry}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Security info\n  fields.push({\n    name: \"🔐 Security\",\n    value: [\n      `**Overall Grade:** ${result.overallGrade}`,\n      `**TLS 1.2:** ${result.protocols.tls12 ? '✅' : '❌'}`,\n      `**TLS 1.3:** ${result.protocols.tls13 ? '✅' : '❌'}`,\n      `**Vulnerabilities:** ${result.vulnerabilities.hasVulnerabilities ? '⚠️ Found' : '✅ None'}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Add recommendations if any\n  if (result.recommendations.length > 0) {\n    fields.push({\n      name: \"💡 Recommendations\",\n      value: result.recommendations.slice(0, 3).map(rec => `• ${rec.message || rec}`).join('\\n') + \n             (result.recommendations.length > 3 ? `\\n... and ${result.recommendations.length - 3} more` : ''),\n      inline: false\n    });\n  }\n  \n  return fields;\n}\n\nreturn results;"
      },
      "id": "09c80ac3-a860-45de-8485-bb9c2565242c",
      "name": "Code - Format output",
      "type": "n8n-nodes-base.code",
      "position": [
        592,
        528
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "-4801374672",
        "text": "={{ $json.discord.title }}\n\n{{ $json.discord.fullDescription }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        512
      ],
      "id": "7bfd09a7-790c-47fb-9d71-2295b624dbab",
      "name": "Send a text message",
      "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
      "credentials": {
        "telegramApi": {
          "id": "EXcj2kEmeeRr82Li",
          "name": "Bot Jack SSL Checker"
        }
      }
    },
    {
      "parameters": {
        "content": "## ⚠️ Expiry Alert\nMemeriksa apakah `days_left` kurang dari atau sama dengan 7.\nHanya domain yang memenuhi kondisi ini yang akan memicu peringatan email.",
        "height": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -64
      ],
      "id": "2ce571c2-0177-4b31-a58f-f42f0a6ef61e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "-4801374672",
        "text": "=*⚠️ ATTENTION ⚠️*\nSSL Certificate Expiry Reminder\n\n*Domain:* {{ $json.result.host }}  \n*Remaining:* {{ $json.result.days_left }} days Left\n\n*Harap segera lakukan pengecekan dan perpanjangan sebelum masa berlaku habis.*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        112
      ],
      "id": "4a18aa16-4d21-4e05-a75d-54685bf3e9ef",
      "name": "Send a text message1",
      "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
      "credentials": {
        "telegramApi": {
          "id": "EXcj2kEmeeRr82Li",
          "name": "Bot Jack SSL Checker"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📧 Send Telegram alerts\nMengirimkan peringatan jika ada masalah.",
        "height": 320,
        "width": 260
      },
      "id": "f832dbea-0391-45fd-9e5f-af941acd58bc",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -16
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 🔍 Check Port\nJika pada domain ada port yang digunakan, maka akan di `parse` terlebih dahulu.",
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        384
      ],
      "id": "92ec4e19-39c8-4867-aec7-389cf1f41277",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### 📧 Send Telegram alerts\nMengirimkan peringatan jika ada masalah.",
        "height": 320,
        "width": 260
      },
      "id": "7ff3b999-ef00-4dd0-8860-eb4189f968d0",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        384
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://ssl-checker.io/api/v1/check/{{ $json.domain }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        128
      ],
      "id": "3768edca-5482-4dcc-88e8-948ea15b07bf",
      "name": "Check SSL1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const domain = item.json.domain;\n\n  item.json.domain = domain.replace(\":\", \" \");\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        528
      ],
      "id": "5c5b49dc-3a75-45b2-bcd9-3fab7a0c1bd6",
      "name": "Code - Split Host and Port"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2fa00fa-dd62-4d8b-803b-44e0a5e1e39e",
              "leftValue": "={{ $json.overallGrade }}",
              "rightValue": "A+",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        528
      ],
      "id": "bafd583d-ef92-43ae-a21d-cd58cc23cf4a",
      "name": "If grade not A+"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab6f1b89-6a50-40bb-bc29-ce0edb50caf5",
              "leftValue": "={{ $json.result.days_left }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        128
      ],
      "id": "e27de794-ef45-4d19-84d7-8b3aace0cacd",
      "name": "If expired less 7 days"
    },
    {
      "parameters": {
        "command": "=/home/jackalope/.nvm/versions/node/v24.12.0/bin/node /home/jackalope/n8n-utils/sysadmin-toolkit/scripts/ssl/ssl-health-assessment.js {{ $json.chatInput }} --json"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        16,
        -384
      ],
      "id": "427a0496-a940-40fd-ba40-bff9588c9ee8",
      "name": "Execute a command1",
      "retryOnFail": false,
      "credentials": {
        "sshPassword": {
          "id": "ReI5AnqEAacsfSHO",
          "name": "SSH home server"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Parse SSL Scanner Output\n// This code processes the SSH node output and formats it for Discord notifications\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Extract the stdout from SSH response\n    const sshOutput = item.json;\n    \n    // Check if SSH command was successful\n    if (sshOutput.code !== 0) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: sshOutput.stderr || 'SSH command failed',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Parse the JSON output from stdout\n    let sslData;\n    try {\n      sslData = JSON.parse(sshOutput.stdout);\n    } catch (parseError) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: 'Failed to parse SSL scanner output',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Extract key information for Discord notification\n    const parsedResult = {\n      // Basic info\n      hostname: sslData.hostname,\n      port: sslData.port || 443,\n      scanTime: sslData.scanTime,\n      scanDuration: sslData.scanDuration,\n      \n      // Overall status\n      overallGrade: sslData.overallGrade,\n      connectionStatus: sslData.connectionStatus || 'unknown',\n      success: sslData.success || false,\n      \n      // Certificate info\n      certificate: {\n        subject: sslData.certificate?.subject || 'unknown',\n        issuer: sslData.certificate?.issuer || 'unknown',\n        validUntil: sslData.certificate?.validUntil,\n        daysUntilExpiry: sslData.certificate?.daysUntilExpiry,\n        isValid: sslData.certificate?.isValid || false,\n        issues: sslData.certificate?.issues || [],\n        hostnameMatch: sslData.certificate?.hostnameMatch || false\n      },\n      \n      // Protocol support\n      protocols: {\n        tls13: sslData.protocols?.tls13 || false,\n        tls12: sslData.protocols?.tls12 || false,\n        tls11: sslData.protocols?.tls11 || false,\n        tls10: sslData.protocols?.tls10 || false,\n        ssl3: sslData.protocols?.ssl3 || false\n      },\n      \n      // Security info\n      vulnerabilities: {\n        hasVulnerabilities: sslData.vulnerabilities?.hasVulnerabilities || false,\n        poodle: sslData.vulnerabilities?.poodle || false,\n        freak: sslData.vulnerabilities?.freak || false,\n        details: sslData.vulnerabilities || {}\n      },\n      \n      // Grades breakdown\n      grades: sslData.grades || {},\n      \n      // Recommendations\n      recommendations: sslData.recommendations || [],\n      \n      // Error handling\n      error: sslData.error,\n      \n      // Alert logic\n      alert: false,\n      alertLevel: 'info',\n      alertReasons: []\n    };\n    \n    // Determine if this needs an alert\n    const alertReasons = [];\n    let alertLevel = 'info';\n    \n    // Critical alerts\n    if (sslData.error) {\n      alertReasons.push(`Scan failed: ${sslData.error}`);\n      alertLevel = 'critical';\n    }\n    \n    if (!parsedResult.certificate.isValid) {\n      alertReasons.push('Certificate is invalid');\n      alertLevel = 'critical';\n    }\n    \n    if (parsedResult.certificate.daysUntilExpiry <= 0) {\n      alertReasons.push('Certificate has expired');\n      alertLevel = 'critical';\n    }\n    \n    // High priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 7 && parsedResult.certificate.daysUntilExpiry > 0) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (parsedResult.vulnerabilities.hasVulnerabilities) {\n      alertReasons.push('Security vulnerabilities detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (!parsedResult.certificate.hostnameMatch) {\n      alertReasons.push('Hostname mismatch detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    // Medium priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 30 && parsedResult.certificate.daysUntilExpiry > 7) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (['C', 'D', 'F'].includes(parsedResult.overallGrade)) {\n      alertReasons.push(`Poor SSL grade: ${parsedResult.overallGrade}`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (parsedResult.protocols.ssl3 || parsedResult.protocols.tls10) {\n      alertReasons.push('Deprecated protocols enabled');\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    // Low priority alerts\n    if (parsedResult.recommendations && parsedResult.recommendations.length > 0) {\n      alertReasons.push(`${parsedResult.recommendations.length} recommendations available`);\n      if (alertLevel === 'info') alertLevel = 'low';\n    }\n    \n    // Set alert status\n    parsedResult.alert = alertReasons.length > 0;\n    parsedResult.alertLevel = alertLevel;\n    parsedResult.alertReasons = alertReasons;\n    \n    // Add Discord formatting helpers\n    parsedResult.discord = {\n      color: getDiscordColor(alertLevel, parsedResult.overallGrade),\n      title: `SSL Health Check: ${parsedResult.hostname}`,\n      description: getDiscordDescription(parsedResult),\n      fields: getDiscordFields(parsedResult),\n      timestamp: new Date().toISOString(),\n      \n      // Pre-formatted content for easy Discord input\n      content: alertLevel === 'critical' ? '@here 🚨 SSL Health Monitor Alert' : '🔐 SSL Health Monitor Alert',\n      \n      // Simple descriptions without complex logic\n      simpleDescription: parsedResult.alert \n        ? `⚠️ SSL issues detected for ${parsedResult.hostname}`\n        : `✅ SSL looks healthy for ${parsedResult.hostname}`,\n        \n      // Detailed info as simple strings\n      certificateInfo: `Grade: ${parsedResult.overallGrade} | Expires in ${parsedResult.certificate.daysUntilExpiry} days`,\n      \n      // Alert details as simple string\n      alertSummary: parsedResult.alert \n        ? `Issues: ${parsedResult.alertReasons.join(', ')}`\n        : `Certificate expires ${parsedResult.certificate.validUntil}`,\n        \n      // Complete formatted description\n      fullDescription: getFullDiscordDescription(parsedResult)\n    };\n    \n    results.push({ json: parsedResult });\n    \n  } catch (error) {\n    // Handle any unexpected errors\n    results.push({\n      json: {\n        hostname: 'unknown',\n        status: 'error',\n        error: `Processing error: ${error.message}`,\n        alert: true,\n        alertLevel: 'critical'\n      }\n    });\n  }\n}\n\n// Helper functions for Discord formatting\nfunction getDiscordColor(alertLevel, grade) {\n  // Color mapping for Discord embeds\n  const colors = {\n    critical: 15158332, // Red\n    high: 15105570,     // Orange\n    medium: 15844367,   // Yellow\n    low: 5763719,       // Blue\n    info: 5763719       // Blue\n  };\n  \n  // Grade-based colors for non-alerts\n  const gradeColors = {\n    'A+': 5763719,  // Green\n    'A': 3066993,   // Green\n    'B': 15844367,  // Yellow\n    'C': 15105570,  // Orange\n    'D': 15158332,  // Red\n    'F': 10038562   // Dark Red\n  };\n  \n  if (alertLevel !== 'info') {\n    return colors[alertLevel] || colors.info;\n  }\n  \n  return gradeColors[grade] || colors.info;\n}\n\nfunction getFullDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    let description = `⚠️ SSL issues detected for ${result.hostname}\\n`;\n    description += `Grade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days\\n\\n`;\n    description += `Issues found:\\n`;\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good for ${result.hostname}\\nGrade: ${result.overallGrade} | Certificate expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    // Create simple alert description\n    let description = \"⚠️ SSL issues detected:\\n\";\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good\\nGrade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordFields(result) {\n  const fields = [];\n  \n  // Certificate info\n  fields.push({\n    name: \"📜 Certificate\",\n    value: [\n      `**Subject:** ${result.certificate.subject}`,\n      `**Issuer:** ${result.certificate.issuer}`,\n      `**Expires:** ${new Date(result.certificate.validUntil).toLocaleDateString()}`,\n      `**Days Left:** ${result.certificate.daysUntilExpiry}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Security info\n  fields.push({\n    name: \"🔐 Security\",\n    value: [\n      `**Overall Grade:** ${result.overallGrade}`,\n      `**TLS 1.2:** ${result.protocols.tls12 ? '✅' : '❌'}`,\n      `**TLS 1.3:** ${result.protocols.tls13 ? '✅' : '❌'}`,\n      `**Vulnerabilities:** ${result.vulnerabilities.hasVulnerabilities ? '⚠️ Found' : '✅ None'}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Add recommendations if any\n  if (result.recommendations.length > 0) {\n    fields.push({\n      name: \"💡 Recommendations\",\n      value: result.recommendations.slice(0, 3).map(rec => `• ${rec.message || rec}`).join('\\n') + \n             (result.recommendations.length > 3 ? `\\n... and ${result.recommendations.length - 3} more` : ''),\n      inline: false\n    });\n  }\n  \n  return fields;\n}\n\nreturn results;"
      },
      "id": "afa820cc-e0c3-45af-bc1d-4f640978d7ee",
      "name": "Code - Format output1",
      "type": "n8n-nodes-base.code",
      "position": [
        192,
        -384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "-4801374672",
        "text": "={{ $json.discord.title }}\n\n{{ $json.discord.fullDescription }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -384
      ],
      "id": "1e588f82-7e0c-4474-b30f-cb98b9fceaa2",
      "name": "Send a text message2",
      "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
      "credentials": {
        "telegramApi": {
          "id": "EXcj2kEmeeRr82Li",
          "name": "Bot Jack SSL Checker"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-4801374672",
        "text": "=*⚠️ ATTENTION ⚠️*\nSSL Certificate Expiry Reminder\n\n*Domain:* {{ $json.result.host }}  \n*Remaining:* {{ $json.result.days_left }} days Left\n\n*Harap segera lakukan pengecekan dan perpanjangan sebelum masa berlaku habis.*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        -560
      ],
      "id": "d153d284-0e91-42ae-921c-143426ab5c85",
      "name": "Send a text message3",
      "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
      "credentials": {
        "telegramApi": {
          "id": "EXcj2kEmeeRr82Li",
          "name": "Bot Jack SSL Checker"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ssl-checker.io/api/v1/check/{{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        -560
      ],
      "id": "87bcbd9f-8aed-48b1-b911-33ebd3bd4481",
      "name": "Check SSL",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const domain = item.json.chatInput;\n\n  item.json.chatInput = domain.replace(\":\", \" \");\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -384
      ],
      "id": "c81a0ffc-3b57-489a-b46a-db41a13acd6b",
      "name": "Code - Split Host and Port1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -480,
        -464
      ],
      "id": "84562f29-c18c-4928-aecc-d4f4d41191f7",
      "name": "When chat message received",
      "webhookId": "01b502e5-a880-4289-b0f4-f8c64fc5f4d0"
    },
    {
      "parameters": {
        "content": "\n\n# 🔍 Manual Check via Chat",
        "height": 480,
        "width": 1136,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -688
      ],
      "id": "1342b7cf-8f52-4332-bf64-12072ec520c5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "\n\n# 🔍 Schedule Check Authomatic",
        "height": 912,
        "width": 1792,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -144
      ],
      "id": "12cb098d-b047-4e1a-ac68-72842bc44064",
      "name": "Sticky Note9"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code - Split Host and Port",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check SSL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code - Format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format output": {
      "main": [
        [
          {
            "node": "If grade not A+",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SSL1": {
      "main": [
        [
          {
            "node": "If expired less 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Split Host and Port": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If grade not A+": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If expired less 7 days": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command1": {
      "main": [
        [
          {
            "node": "Code - Format output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format output1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SSL": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Split Host and Port1": {
      "main": [
        [
          {
            "node": "Execute a command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Check SSL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Split Host and Port1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b6c31615-f8d2-4296-baf0-2d6d3bd034a8",
  "activeVersionId": "b6c31615-f8d2-4296-baf0-2d6d3bd034a8",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-19T06:37:38.965Z",
      "createdAt": "2025-12-19T06:37:38.965Z",
      "role": "workflow:owner",
      "workflowId": "ubLgddkhk4ODIP0U",
      "projectId": "TEtZuh9E7Muk0QeE"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-08T08:32:10.712Z",
    "createdAt": "2026-01-08T08:32:10.712Z",
    "versionId": "b6c31615-f8d2-4296-baf0-2d6d3bd034a8",
    "workflowId": "ubLgddkhk4ODIP0U",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -432,
          336
        ],
        "id": "b8ba8f0a-aa6b-49c7-a79a-6ac024eb4734",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "KEjUo5kV6mC38RF6",
            "mode": "list",
            "cachedResultName": "domain-client-list",
            "cachedResultUrl": "/projects/TEtZuh9E7Muk0QeE/datatables/KEjUo5kV6mC38RF6"
          },
          "matchType": "allConditions",
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          -160,
          336
        ],
        "id": "3edb4c4c-431b-426c-982d-b3aaa9b9f7bd",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "content": "## 🕒 Daily Trigger\nMenjalankan alur kerja setiap hari pukul 10:00 pagi.\n\nSesuaikan waktu atau frekuensi sesuai kebutuhan menggunakan pengaturan cron atau interval.",
          "height": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -496,
          144
        ],
        "id": "8e6307c3-8eb8-44bb-a082-020efed653d7",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## 🌐 Fetch URLs\nMembaca URL situs web dari Data Table.\n\nPastikan lembar kerja memiliki kolom bernama `domain` yang berisi domain yang ingin Anda pantau.",
          "height": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -224,
          144
        ],
        "id": "f79e4047-b56d-4cdb-bbed-e4fed2a47450",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## 🔍 Check SSL\nMengakses `ssl-checker.io` (API gratis) untuk data sertifikat SSL setiap domain.\n\nMengembalikan informasi valid_from, valid_till, days_left, dan host.",
          "height": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          96,
          -64
        ],
        "id": "64ff6522-1a9d-44a6-95d6-233160ba962e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### 🔍 Check SSL health score\nGunakan sysadmin-toolkit/scripts/ssl/ssl-health-assessment.js\n\nMengembalikan nilai keseluruhan SSL, kerentanan, dan tindakan yang perlu diambil.",
          "height": 320,
          "width": 520
        },
        "id": "0bccbab8-7aa4-4f6f-b963-11ad2cfda1aa",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          384
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "command": "=/home/jackalope/.nvm/versions/node/v24.12.0/bin/node /home/jackalope/n8n-utils/sysadmin-toolkit/scripts/ssl/ssl-health-assessment.js {{ $json.domain }} --json"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          416,
          528
        ],
        "id": "c1001215-c4d2-46a2-9a1e-0ef248294f11",
        "name": "Execute a command",
        "retryOnFail": false,
        "credentials": {
          "sshPassword": {
            "id": "ReI5AnqEAacsfSHO",
            "name": "SSH home server"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Code Node - Parse SSL Scanner Output\n// This code processes the SSH node output and formats it for Discord notifications\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Extract the stdout from SSH response\n    const sshOutput = item.json;\n    \n    // Check if SSH command was successful\n    if (sshOutput.code !== 0) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: sshOutput.stderr || 'SSH command failed',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Parse the JSON output from stdout\n    let sslData;\n    try {\n      sslData = JSON.parse(sshOutput.stdout);\n    } catch (parseError) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: 'Failed to parse SSL scanner output',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Extract key information for Discord notification\n    const parsedResult = {\n      // Basic info\n      hostname: sslData.hostname,\n      port: sslData.port || 443,\n      scanTime: sslData.scanTime,\n      scanDuration: sslData.scanDuration,\n      \n      // Overall status\n      overallGrade: sslData.overallGrade,\n      connectionStatus: sslData.connectionStatus || 'unknown',\n      success: sslData.success || false,\n      \n      // Certificate info\n      certificate: {\n        subject: sslData.certificate?.subject || 'unknown',\n        issuer: sslData.certificate?.issuer || 'unknown',\n        validUntil: sslData.certificate?.validUntil,\n        daysUntilExpiry: sslData.certificate?.daysUntilExpiry,\n        isValid: sslData.certificate?.isValid || false,\n        issues: sslData.certificate?.issues || [],\n        hostnameMatch: sslData.certificate?.hostnameMatch || false\n      },\n      \n      // Protocol support\n      protocols: {\n        tls13: sslData.protocols?.tls13 || false,\n        tls12: sslData.protocols?.tls12 || false,\n        tls11: sslData.protocols?.tls11 || false,\n        tls10: sslData.protocols?.tls10 || false,\n        ssl3: sslData.protocols?.ssl3 || false\n      },\n      \n      // Security info\n      vulnerabilities: {\n        hasVulnerabilities: sslData.vulnerabilities?.hasVulnerabilities || false,\n        poodle: sslData.vulnerabilities?.poodle || false,\n        freak: sslData.vulnerabilities?.freak || false,\n        details: sslData.vulnerabilities || {}\n      },\n      \n      // Grades breakdown\n      grades: sslData.grades || {},\n      \n      // Recommendations\n      recommendations: sslData.recommendations || [],\n      \n      // Error handling\n      error: sslData.error,\n      \n      // Alert logic\n      alert: false,\n      alertLevel: 'info',\n      alertReasons: []\n    };\n    \n    // Determine if this needs an alert\n    const alertReasons = [];\n    let alertLevel = 'info';\n    \n    // Critical alerts\n    if (sslData.error) {\n      alertReasons.push(`Scan failed: ${sslData.error}`);\n      alertLevel = 'critical';\n    }\n    \n    if (!parsedResult.certificate.isValid) {\n      alertReasons.push('Certificate is invalid');\n      alertLevel = 'critical';\n    }\n    \n    if (parsedResult.certificate.daysUntilExpiry <= 0) {\n      alertReasons.push('Certificate has expired');\n      alertLevel = 'critical';\n    }\n    \n    // High priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 7 && parsedResult.certificate.daysUntilExpiry > 0) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (parsedResult.vulnerabilities.hasVulnerabilities) {\n      alertReasons.push('Security vulnerabilities detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (!parsedResult.certificate.hostnameMatch) {\n      alertReasons.push('Hostname mismatch detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    // Medium priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 30 && parsedResult.certificate.daysUntilExpiry > 7) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (['C', 'D', 'F'].includes(parsedResult.overallGrade)) {\n      alertReasons.push(`Poor SSL grade: ${parsedResult.overallGrade}`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (parsedResult.protocols.ssl3 || parsedResult.protocols.tls10) {\n      alertReasons.push('Deprecated protocols enabled');\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    // Low priority alerts\n    if (parsedResult.recommendations && parsedResult.recommendations.length > 0) {\n      alertReasons.push(`${parsedResult.recommendations.length} recommendations available`);\n      if (alertLevel === 'info') alertLevel = 'low';\n    }\n    \n    // Set alert status\n    parsedResult.alert = alertReasons.length > 0;\n    parsedResult.alertLevel = alertLevel;\n    parsedResult.alertReasons = alertReasons;\n    \n    // Add Discord formatting helpers\n    parsedResult.discord = {\n      color: getDiscordColor(alertLevel, parsedResult.overallGrade),\n      title: `SSL Health Check: ${parsedResult.hostname}`,\n      description: getDiscordDescription(parsedResult),\n      fields: getDiscordFields(parsedResult),\n      timestamp: new Date().toISOString(),\n      \n      // Pre-formatted content for easy Discord input\n      content: alertLevel === 'critical' ? '@here 🚨 SSL Health Monitor Alert' : '🔐 SSL Health Monitor Alert',\n      \n      // Simple descriptions without complex logic\n      simpleDescription: parsedResult.alert \n        ? `⚠️ SSL issues detected for ${parsedResult.hostname}`\n        : `✅ SSL looks healthy for ${parsedResult.hostname}`,\n        \n      // Detailed info as simple strings\n      certificateInfo: `Grade: ${parsedResult.overallGrade} | Expires in ${parsedResult.certificate.daysUntilExpiry} days`,\n      \n      // Alert details as simple string\n      alertSummary: parsedResult.alert \n        ? `Issues: ${parsedResult.alertReasons.join(', ')}`\n        : `Certificate expires ${parsedResult.certificate.validUntil}`,\n        \n      // Complete formatted description\n      fullDescription: getFullDiscordDescription(parsedResult)\n    };\n    \n    results.push({ json: parsedResult });\n    \n  } catch (error) {\n    // Handle any unexpected errors\n    results.push({\n      json: {\n        hostname: 'unknown',\n        status: 'error',\n        error: `Processing error: ${error.message}`,\n        alert: true,\n        alertLevel: 'critical'\n      }\n    });\n  }\n}\n\n// Helper functions for Discord formatting\nfunction getDiscordColor(alertLevel, grade) {\n  // Color mapping for Discord embeds\n  const colors = {\n    critical: 15158332, // Red\n    high: 15105570,     // Orange\n    medium: 15844367,   // Yellow\n    low: 5763719,       // Blue\n    info: 5763719       // Blue\n  };\n  \n  // Grade-based colors for non-alerts\n  const gradeColors = {\n    'A+': 5763719,  // Green\n    'A': 3066993,   // Green\n    'B': 15844367,  // Yellow\n    'C': 15105570,  // Orange\n    'D': 15158332,  // Red\n    'F': 10038562   // Dark Red\n  };\n  \n  if (alertLevel !== 'info') {\n    return colors[alertLevel] || colors.info;\n  }\n  \n  return gradeColors[grade] || colors.info;\n}\n\nfunction getFullDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    let description = `⚠️ SSL issues detected for ${result.hostname}\\n`;\n    description += `Grade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days\\n\\n`;\n    description += `Issues found:\\n`;\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good for ${result.hostname}\\nGrade: ${result.overallGrade} | Certificate expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    // Create simple alert description\n    let description = \"⚠️ SSL issues detected:\\n\";\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good\\nGrade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordFields(result) {\n  const fields = [];\n  \n  // Certificate info\n  fields.push({\n    name: \"📜 Certificate\",\n    value: [\n      `**Subject:** ${result.certificate.subject}`,\n      `**Issuer:** ${result.certificate.issuer}`,\n      `**Expires:** ${new Date(result.certificate.validUntil).toLocaleDateString()}`,\n      `**Days Left:** ${result.certificate.daysUntilExpiry}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Security info\n  fields.push({\n    name: \"🔐 Security\",\n    value: [\n      `**Overall Grade:** ${result.overallGrade}`,\n      `**TLS 1.2:** ${result.protocols.tls12 ? '✅' : '❌'}`,\n      `**TLS 1.3:** ${result.protocols.tls13 ? '✅' : '❌'}`,\n      `**Vulnerabilities:** ${result.vulnerabilities.hasVulnerabilities ? '⚠️ Found' : '✅ None'}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Add recommendations if any\n  if (result.recommendations.length > 0) {\n    fields.push({\n      name: \"💡 Recommendations\",\n      value: result.recommendations.slice(0, 3).map(rec => `• ${rec.message || rec}`).join('\\n') + \n             (result.recommendations.length > 3 ? `\\n... and ${result.recommendations.length - 3} more` : ''),\n      inline: false\n    });\n  }\n  \n  return fields;\n}\n\nreturn results;"
        },
        "id": "09c80ac3-a860-45de-8485-bb9c2565242c",
        "name": "Code - Format output",
        "type": "n8n-nodes-base.code",
        "position": [
          592,
          528
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "chatId": "-4801374672",
          "text": "={{ $json.discord.title }}\n\n{{ $json.discord.fullDescription }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          992,
          512
        ],
        "id": "7bfd09a7-790c-47fb-9d71-2295b624dbab",
        "name": "Send a text message",
        "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
        "credentials": {
          "telegramApi": {
            "id": "EXcj2kEmeeRr82Li",
            "name": "Bot Jack SSL Checker"
          }
        }
      },
      {
        "parameters": {
          "content": "## ⚠️ Expiry Alert\nMemeriksa apakah `days_left` kurang dari atau sama dengan 7.\nHanya domain yang memenuhi kondisi ini yang akan memicu peringatan email.",
          "height": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          368,
          -64
        ],
        "id": "2ce571c2-0177-4b31-a58f-f42f0a6ef61e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "chatId": "-4801374672",
          "text": "=*⚠️ ATTENTION ⚠️*\nSSL Certificate Expiry Reminder\n\n*Domain:* {{ $json.result.host }}  \n*Remaining:* {{ $json.result.days_left }} days Left\n\n*Harap segera lakukan pengecekan dan perpanjangan sebelum masa berlaku habis.*",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          720,
          112
        ],
        "id": "4a18aa16-4d21-4e05-a75d-54685bf3e9ef",
        "name": "Send a text message1",
        "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
        "credentials": {
          "telegramApi": {
            "id": "EXcj2kEmeeRr82Li",
            "name": "Bot Jack SSL Checker"
          }
        }
      },
      {
        "parameters": {
          "content": "### 📧 Send Telegram alerts\nMengirimkan peringatan jika ada masalah.",
          "height": 320,
          "width": 260
        },
        "id": "f832dbea-0391-45fd-9e5f-af941acd58bc",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          640,
          -16
        ],
        "typeVersion": 1,
        "disabled": true
      },
      {
        "parameters": {
          "content": "## 🔍 Check Port\nJika pada domain ada port yang digunakan, maka akan di `parse` terlebih dahulu.",
          "height": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          96,
          384
        ],
        "id": "92ec4e19-39c8-4867-aec7-389cf1f41277",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "### 📧 Send Telegram alerts\nMengirimkan peringatan jika ada masalah.",
          "height": 320,
          "width": 260
        },
        "id": "7ff3b999-ef00-4dd0-8860-eb4189f968d0",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          912,
          384
        ],
        "typeVersion": 1,
        "disabled": true
      },
      {
        "parameters": {
          "url": "=https://ssl-checker.io/api/v1/check/{{ $json.domain }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          160,
          128
        ],
        "id": "3768edca-5482-4dcc-88e8-948ea15b07bf",
        "name": "Check SSL1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const domain = item.json.domain;\n\n  item.json.domain = domain.replace(\":\", \" \");\n\n  return item;\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          528
        ],
        "id": "5c5b49dc-3a75-45b2-bcd9-3fab7a0c1bd6",
        "name": "Code - Split Host and Port"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c2fa00fa-dd62-4d8b-803b-44e0a5e1e39e",
                "leftValue": "={{ $json.overallGrade }}",
                "rightValue": "A+",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          752,
          528
        ],
        "id": "bafd583d-ef92-43ae-a21d-cd58cc23cf4a",
        "name": "If grade not A+"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ab6f1b89-6a50-40bb-bc29-ce0edb50caf5",
                "leftValue": "={{ $json.result.days_left }}",
                "rightValue": 7,
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          432,
          128
        ],
        "id": "e27de794-ef45-4d19-84d7-8b3aace0cacd",
        "name": "If expired less 7 days"
      },
      {
        "parameters": {
          "command": "=/home/jackalope/.nvm/versions/node/v24.12.0/bin/node /home/jackalope/n8n-utils/sysadmin-toolkit/scripts/ssl/ssl-health-assessment.js {{ $json.chatInput }} --json"
        },
        "type": "n8n-nodes-base.ssh",
        "typeVersion": 1,
        "position": [
          16,
          -384
        ],
        "id": "427a0496-a940-40fd-ba40-bff9588c9ee8",
        "name": "Execute a command1",
        "retryOnFail": false,
        "credentials": {
          "sshPassword": {
            "id": "ReI5AnqEAacsfSHO",
            "name": "SSH home server"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Code Node - Parse SSL Scanner Output\n// This code processes the SSH node output and formats it for Discord notifications\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Extract the stdout from SSH response\n    const sshOutput = item.json;\n    \n    // Check if SSH command was successful\n    if (sshOutput.code !== 0) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: sshOutput.stderr || 'SSH command failed',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Parse the JSON output from stdout\n    let sslData;\n    try {\n      sslData = JSON.parse(sshOutput.stdout);\n    } catch (parseError) {\n      results.push({\n        json: {\n          hostname: 'unknown',\n          status: 'error',\n          error: 'Failed to parse SSL scanner output',\n          alert: true,\n          alertLevel: 'critical'\n        }\n      });\n      continue;\n    }\n    \n    // Extract key information for Discord notification\n    const parsedResult = {\n      // Basic info\n      hostname: sslData.hostname,\n      port: sslData.port || 443,\n      scanTime: sslData.scanTime,\n      scanDuration: sslData.scanDuration,\n      \n      // Overall status\n      overallGrade: sslData.overallGrade,\n      connectionStatus: sslData.connectionStatus || 'unknown',\n      success: sslData.success || false,\n      \n      // Certificate info\n      certificate: {\n        subject: sslData.certificate?.subject || 'unknown',\n        issuer: sslData.certificate?.issuer || 'unknown',\n        validUntil: sslData.certificate?.validUntil,\n        daysUntilExpiry: sslData.certificate?.daysUntilExpiry,\n        isValid: sslData.certificate?.isValid || false,\n        issues: sslData.certificate?.issues || [],\n        hostnameMatch: sslData.certificate?.hostnameMatch || false\n      },\n      \n      // Protocol support\n      protocols: {\n        tls13: sslData.protocols?.tls13 || false,\n        tls12: sslData.protocols?.tls12 || false,\n        tls11: sslData.protocols?.tls11 || false,\n        tls10: sslData.protocols?.tls10 || false,\n        ssl3: sslData.protocols?.ssl3 || false\n      },\n      \n      // Security info\n      vulnerabilities: {\n        hasVulnerabilities: sslData.vulnerabilities?.hasVulnerabilities || false,\n        poodle: sslData.vulnerabilities?.poodle || false,\n        freak: sslData.vulnerabilities?.freak || false,\n        details: sslData.vulnerabilities || {}\n      },\n      \n      // Grades breakdown\n      grades: sslData.grades || {},\n      \n      // Recommendations\n      recommendations: sslData.recommendations || [],\n      \n      // Error handling\n      error: sslData.error,\n      \n      // Alert logic\n      alert: false,\n      alertLevel: 'info',\n      alertReasons: []\n    };\n    \n    // Determine if this needs an alert\n    const alertReasons = [];\n    let alertLevel = 'info';\n    \n    // Critical alerts\n    if (sslData.error) {\n      alertReasons.push(`Scan failed: ${sslData.error}`);\n      alertLevel = 'critical';\n    }\n    \n    if (!parsedResult.certificate.isValid) {\n      alertReasons.push('Certificate is invalid');\n      alertLevel = 'critical';\n    }\n    \n    if (parsedResult.certificate.daysUntilExpiry <= 0) {\n      alertReasons.push('Certificate has expired');\n      alertLevel = 'critical';\n    }\n    \n    // High priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 7 && parsedResult.certificate.daysUntilExpiry > 0) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (parsedResult.vulnerabilities.hasVulnerabilities) {\n      alertReasons.push('Security vulnerabilities detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    if (!parsedResult.certificate.hostnameMatch) {\n      alertReasons.push('Hostname mismatch detected');\n      if (alertLevel === 'info') alertLevel = 'high';\n    }\n    \n    // Medium priority alerts\n    if (parsedResult.certificate.daysUntilExpiry <= 30 && parsedResult.certificate.daysUntilExpiry > 7) {\n      alertReasons.push(`Certificate expires in ${parsedResult.certificate.daysUntilExpiry} days`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (['C', 'D', 'F'].includes(parsedResult.overallGrade)) {\n      alertReasons.push(`Poor SSL grade: ${parsedResult.overallGrade}`);\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    if (parsedResult.protocols.ssl3 || parsedResult.protocols.tls10) {\n      alertReasons.push('Deprecated protocols enabled');\n      if (alertLevel === 'info') alertLevel = 'medium';\n    }\n    \n    // Low priority alerts\n    if (parsedResult.recommendations && parsedResult.recommendations.length > 0) {\n      alertReasons.push(`${parsedResult.recommendations.length} recommendations available`);\n      if (alertLevel === 'info') alertLevel = 'low';\n    }\n    \n    // Set alert status\n    parsedResult.alert = alertReasons.length > 0;\n    parsedResult.alertLevel = alertLevel;\n    parsedResult.alertReasons = alertReasons;\n    \n    // Add Discord formatting helpers\n    parsedResult.discord = {\n      color: getDiscordColor(alertLevel, parsedResult.overallGrade),\n      title: `SSL Health Check: ${parsedResult.hostname}`,\n      description: getDiscordDescription(parsedResult),\n      fields: getDiscordFields(parsedResult),\n      timestamp: new Date().toISOString(),\n      \n      // Pre-formatted content for easy Discord input\n      content: alertLevel === 'critical' ? '@here 🚨 SSL Health Monitor Alert' : '🔐 SSL Health Monitor Alert',\n      \n      // Simple descriptions without complex logic\n      simpleDescription: parsedResult.alert \n        ? `⚠️ SSL issues detected for ${parsedResult.hostname}`\n        : `✅ SSL looks healthy for ${parsedResult.hostname}`,\n        \n      // Detailed info as simple strings\n      certificateInfo: `Grade: ${parsedResult.overallGrade} | Expires in ${parsedResult.certificate.daysUntilExpiry} days`,\n      \n      // Alert details as simple string\n      alertSummary: parsedResult.alert \n        ? `Issues: ${parsedResult.alertReasons.join(', ')}`\n        : `Certificate expires ${parsedResult.certificate.validUntil}`,\n        \n      // Complete formatted description\n      fullDescription: getFullDiscordDescription(parsedResult)\n    };\n    \n    results.push({ json: parsedResult });\n    \n  } catch (error) {\n    // Handle any unexpected errors\n    results.push({\n      json: {\n        hostname: 'unknown',\n        status: 'error',\n        error: `Processing error: ${error.message}`,\n        alert: true,\n        alertLevel: 'critical'\n      }\n    });\n  }\n}\n\n// Helper functions for Discord formatting\nfunction getDiscordColor(alertLevel, grade) {\n  // Color mapping for Discord embeds\n  const colors = {\n    critical: 15158332, // Red\n    high: 15105570,     // Orange\n    medium: 15844367,   // Yellow\n    low: 5763719,       // Blue\n    info: 5763719       // Blue\n  };\n  \n  // Grade-based colors for non-alerts\n  const gradeColors = {\n    'A+': 5763719,  // Green\n    'A': 3066993,   // Green\n    'B': 15844367,  // Yellow\n    'C': 15105570,  // Orange\n    'D': 15158332,  // Red\n    'F': 10038562   // Dark Red\n  };\n  \n  if (alertLevel !== 'info') {\n    return colors[alertLevel] || colors.info;\n  }\n  \n  return gradeColors[grade] || colors.info;\n}\n\nfunction getFullDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    let description = `⚠️ SSL issues detected for ${result.hostname}\\n`;\n    description += `Grade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days\\n\\n`;\n    description += `Issues found:\\n`;\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good for ${result.hostname}\\nGrade: ${result.overallGrade} | Certificate expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordDescription(result) {\n  if (result.error) {\n    return `❌ SSL scan failed: ${result.error}`;\n  }\n  \n  if (result.alert) {\n    // Create simple alert description\n    let description = \"⚠️ SSL issues detected:\\n\";\n    result.alertReasons.forEach(reason => {\n      description += `• ${reason}\\n`;\n    });\n    return description.trim();\n  }\n  \n  return `✅ SSL configuration looks good\\nGrade: ${result.overallGrade} | Expires in ${result.certificate.daysUntilExpiry} days`;\n}\n\nfunction getDiscordFields(result) {\n  const fields = [];\n  \n  // Certificate info\n  fields.push({\n    name: \"📜 Certificate\",\n    value: [\n      `**Subject:** ${result.certificate.subject}`,\n      `**Issuer:** ${result.certificate.issuer}`,\n      `**Expires:** ${new Date(result.certificate.validUntil).toLocaleDateString()}`,\n      `**Days Left:** ${result.certificate.daysUntilExpiry}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Security info\n  fields.push({\n    name: \"🔐 Security\",\n    value: [\n      `**Overall Grade:** ${result.overallGrade}`,\n      `**TLS 1.2:** ${result.protocols.tls12 ? '✅' : '❌'}`,\n      `**TLS 1.3:** ${result.protocols.tls13 ? '✅' : '❌'}`,\n      `**Vulnerabilities:** ${result.vulnerabilities.hasVulnerabilities ? '⚠️ Found' : '✅ None'}`\n    ].join('\\n'),\n    inline: true\n  });\n  \n  // Add recommendations if any\n  if (result.recommendations.length > 0) {\n    fields.push({\n      name: \"💡 Recommendations\",\n      value: result.recommendations.slice(0, 3).map(rec => `• ${rec.message || rec}`).join('\\n') + \n             (result.recommendations.length > 3 ? `\\n... and ${result.recommendations.length - 3} more` : ''),\n      inline: false\n    });\n  }\n  \n  return fields;\n}\n\nreturn results;"
        },
        "id": "afa820cc-e0c3-45af-bc1d-4f640978d7ee",
        "name": "Code - Format output1",
        "type": "n8n-nodes-base.code",
        "position": [
          192,
          -384
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "chatId": "-4801374672",
          "text": "={{ $json.discord.title }}\n\n{{ $json.discord.fullDescription }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          352,
          -384
        ],
        "id": "1e588f82-7e0c-4474-b30f-cb98b9fceaa2",
        "name": "Send a text message2",
        "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
        "credentials": {
          "telegramApi": {
            "id": "EXcj2kEmeeRr82Li",
            "name": "Bot Jack SSL Checker"
          }
        }
      },
      {
        "parameters": {
          "chatId": "-4801374672",
          "text": "=*⚠️ ATTENTION ⚠️*\nSSL Certificate Expiry Reminder\n\n*Domain:* {{ $json.result.host }}  \n*Remaining:* {{ $json.result.days_left }} days Left\n\n*Harap segera lakukan pengecekan dan perpanjangan sebelum masa berlaku habis.*",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          16,
          -560
        ],
        "id": "d153d284-0e91-42ae-921c-143426ab5c85",
        "name": "Send a text message3",
        "webhookId": "04870de9-5cf5-42e6-b83f-7e367b25f9cc",
        "credentials": {
          "telegramApi": {
            "id": "EXcj2kEmeeRr82Li",
            "name": "Bot Jack SSL Checker"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://ssl-checker.io/api/v1/check/{{ $json.chatInput }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -208,
          -560
        ],
        "id": "87bcbd9f-8aed-48b1-b911-33ebd3bd4481",
        "name": "Check SSL",
        "retryOnFail": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const domain = item.json.chatInput;\n\n  item.json.chatInput = domain.replace(\":\", \" \");\n\n  return item;\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          -384
        ],
        "id": "c81a0ffc-3b57-489a-b46a-db41a13acd6b",
        "name": "Code - Split Host and Port1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -480,
          -464
        ],
        "id": "84562f29-c18c-4928-aecc-d4f4d41191f7",
        "name": "When chat message received",
        "webhookId": "01b502e5-a880-4289-b0f4-f8c64fc5f4d0"
      },
      {
        "parameters": {
          "content": "\n\n# 🔍 Manual Check via Chat",
          "height": 480,
          "width": 1136,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -576,
          -688
        ],
        "id": "1342b7cf-8f52-4332-bf64-12072ec520c5",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "content": "\n\n# 🔍 Schedule Check Authomatic",
          "height": 912,
          "width": 1792,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -576,
          -144
        ],
        "id": "12cb098d-b047-4e1a-ac68-72842bc44064",
        "name": "Sticky Note9"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Code - Split Host and Port",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check SSL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a command": {
        "main": [
          [
            {
              "node": "Code - Format output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Format output": {
        "main": [
          [
            {
              "node": "If grade not A+",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check SSL1": {
        "main": [
          [
            {
              "node": "If expired less 7 days",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Split Host and Port": {
        "main": [
          [
            {
              "node": "Execute a command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If grade not A+": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If expired less 7 days": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a command1": {
        "main": [
          [
            {
              "node": "Code - Format output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Format output1": {
        "main": [
          [
            {
              "node": "Send a text message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check SSL": {
        "main": [
          [
            {
              "node": "Send a text message3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Split Host and Port1": {
        "main": [
          [
            {
              "node": "Execute a command1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Check SSL",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code - Split Host and Port1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "warusana jackalope",
    "name": null,
    "description": null
  },
  "tags": []
}