My workflow
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "951c444f-5dfc-437a-98ea-312d8bc82190",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "558377f5-54a6-4dd2-872a-dd1fa8f1fc9f",
              "name": "project_owner",
              "type": "string",
              "value": "NunoRifa"
            },
            {
              "id": "063bbfbf-697e-4825-8c68-af5cc7b6aa2d",
              "name": "project_name",
              "type": "string",
              "value": "n8n-JSON-code"
            },
            {
              "id": "7938d2e2-b203-45fc-8432-f9f3ac241946",
              "name": "branch",
              "type": "string",
              "value": "master"
            }
          ]
        },
        "options": {}
      },
      "id": "072228ed-50dc-4a4f-a788-152b9df7c148",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        176,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.project_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.project_name }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        384,
        0
      ],
      "id": "945967af-0987-4382-838d-259b914cb42f",
      "name": "List files",
      "webhookId": "fa655ddf-cf1a-458d-8aeb-145164b0bf8e",
      "credentials": {
        "githubOAuth2Api": {
          "id": "zcaFs20iOaZituvU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "32098985-0bc7-4a28-b85d-fcf4a1b03bba",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "kw7ZFlCzYxYThehS",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const { createdAt, updatedAt, id, name, active, isArchived, ...rest } = item.json;\n  return { json: rest };\n});"
      },
      "id": "888da095-039b-4135-a93f-c165edad91af",
      "name": "Remove Unwanted Fields",
      "type": "n8n-nodes-base.code",
      "position": [
        1424,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1632,
        80
      ],
      "id": "c49bf811-20bd-4d2e-bcfa-a2f181c5e075",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "213d5832-5e29-43d0-a2da-edbbecfd3154",
      "name": "List of Names"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "575baad0-b687-4ccc-8cf0-e04b70ff4737",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1008,
        0
      ],
      "id": "234280fb-ba83-45dc-81b9-55acdaec53f5",
      "name": "Discard Archived Workflows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        0
      ],
      "id": "a80f9d54-0c18-4730-996b-7578052405c9",
      "name": "Process Each File"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A7MJ633EY",
          "mode": "list",
          "cachedResultName": "notif"
        },
        "text": "=*Failed creating a new file - GitLab.*\n\n- File Name: {{ $('Process Each File').item.json.name }}\n- Error: {{ $json.error }}\n- Workflow State: _active={{ $('Process Each File').item.json.active }}_\n- Execution ID: {{ $execution.id }}\n- Mode: {{ $execution.mode }}\n- Timestamp(Workflow Region): {{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}",
        "otherOptions": {}
      },
      "id": "111dedd7-e1ed-462e-ae69-b6be7f55792a",
      "name": "New File - Failed",
      "type": "n8n-nodes-base.slack",
      "position": [
        2256,
        192
      ],
      "webhookId": "5354db33-36b0-4f5b-ba5e-4d902660a1dd",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "N2VWPOa3ECcnlTst",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "173b0743-f5e3-4e0e-9f8e-6af59f1eda41",
              "leftValue": "={{ $('List of Names').item.json.name }}",
              "rightValue": "={{ $('Process Each File').item.json.name }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        80
      ],
      "id": "14997f95-7d8d-4539-864e-7e39cb5a9efa",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Configuration').item.json.project_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Configuration').item.json.project_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Process Each File').item.json.name }}",
        "binaryData": true,
        "commitMessage": "=File created! {{ $('Process Each File').item.json.name }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Configuration').item.json.branch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2064,
        176
      ],
      "id": "5e43a091-72af-4a36-aeba-c9efb2d58f6b",
      "name": "Create New File - GitHub",
      "webhookId": "7815a550-f43a-41ca-a230-d0adec79377a",
      "credentials": {
        "githubOAuth2Api": {
          "id": "zcaFs20iOaZituvU",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Configuration').item.json.project_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Configuration').item.json.project_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Process Each File').item.json.name }}",
        "binaryData": true,
        "commitMessage": "=File was Updated! {{ $('Process Each File').item.json.name }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Configuration').item.json.branch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2064,
        -16
      ],
      "id": "5f6922c5-87dc-4ed6-9771-539563e5c03e",
      "name": "Edit a file",
      "webhookId": "afd92444-ef6f-4baf-bb85-7ee15d78b645",
      "credentials": {
        "githubOAuth2Api": {
          "id": "zcaFs20iOaZituvU",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A7MJ633EY",
          "mode": "list",
          "cachedResultName": "notif"
        },
        "text": "=*Failed updating specified file - GitLab.*\n\n- File Name: {{ $('Process Each File').item.json.name }}\n- Error: {{ $json.error }}\n- Workflow State: _active={{ $('Process Each File').item.json.active }}_\n- Execution ID: {{ $execution.id }}\n- Mode: {{ $execution.mode }}\n- Timestamp(Workflow Region): {{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}",
        "otherOptions": {}
      },
      "id": "a4e55bb6-e4f9-4861-b0ee-f71c11618b14",
      "name": "Update File - Failed",
      "type": "n8n-nodes-base.slack",
      "position": [
        2256,
        0
      ],
      "webhookId": "5354db33-36b0-4f5b-ba5e-4d902660a1dd",
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "N2VWPOa3ECcnlTst",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A7MJ633EY",
          "mode": "list",
          "cachedResultName": "notif"
        },
        "text": "=*Successful Backup!*\n\n- Execution ID: {{ $execution.id }}\n- Mode: {{ $execution.mode }}\n- Timestamp(Workflow Region): {{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "b9e6eefe-a742-4bb0-8e0c-6414e30e8350",
      "name": "Send Message to Channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        1424,
        -80
      ],
      "webhookId": "7204c9cc-0e71-46ce-9760-3c49075bc472",
      "executeOnce": true,
      "typeVersion": 2.3,
      "credentials": {
        "slackApi": {
          "id": "N2VWPOa3ECcnlTst",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "List of Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Discard Archived Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Unwanted Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List of Names": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard Archived Workflows": {
      "main": [
        [
          {
            "node": "Process Each File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each File": {
      "main": [
        [
          {
            "node": "Send Message to Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Unwanted Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File - GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File - GitHub": {
      "main": [
        [
          {
            "node": "Process Each File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New File - Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New File - Failed": {
      "main": [
        [
          {
            "node": "Process Each File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Process Each File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update File - Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File - Failed": {
      "main": [
        [
          {
            "node": "Process Each File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c09e21c7-7534-4af3-a820-d879b99e566a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-08T09:19:49.234Z",
      "createdAt": "2026-01-08T09:19:49.234Z",
      "role": "workflow:owner",
      "workflowId": "CF98DTKYMGTa246r",
      "projectId": "TEtZuh9E7Muk0QeE"
    }
  ],
  "activeVersion": null,
  "tags": []
}